@import "macchiato.css";

@define-color surface0 transparent;
@define-color surface1 transparent;

* {
  font-family: FiraCode Nerd Font Propo Bold;
  font-size: 19px;
  min-height: 0;
  text-shadow: 1px 1px 2px @crust;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

#waybar {
  background: @surface0;
  color: @text;
}

#workspaces {
  margin: 0 5px;
  background-color: @surface1;
}

#workspaces button {
  padding: 0 5px;
  color: @red;
}

#workspaces button.empty {
  color: @text;
}
#workspaces button.active {
  color: @maroon;
}
#workspaces button.special {
  font-weight: bold;
  border-left: 1px solid @red;
}
#workspaces button.focused {
  border-bottom: 1px solid @red;
  border-top: 1px solid @red;
}
#workspaces button:hover {
  color: @peach;
}
tooltip {
  color: @red;
  background-color: @surface1;
  text-shadow: none;
  border-radius: 0;
}

tooltip * {
  color: @red;
  text-shadow: none;
  font-size: 16px;
}
#custom-reboot,
#custom-quit,
#bluetooth,
#network,
#custom-music,
#custom-capslock,
#cava,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-updates,
#custom-gpu-load,
#temperature,
#custom-cpu-load,
#privacy,
#custom-arch {
  background-color: @surface1;
  color: @blue;
  padding: 0rem 1rem;
}
#custom-gpu-load {
  color: @green;
}
#custom-cpu-load {
  color: @red;
}
#custom-updates {
  background-color: transparent;
  color: @red;
}
#custom-sep {
  background-color: @surface1;
  padding: 0.5rem 0.5rem;
}

#clock {
  color: @mauve;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
}

#custom-music {
  font-style: italic;
  color: @green;
}

#custom-lock {
  color: @red;
}

#custom-capslock,
#custom-power {
  color: @red;
}

#tray {
  background: @surface0;
}
#window {
  font-style: italic;
  color: @peach;
  padding: 0.5rem 1rem;
  background: @surface1;
}
window#waybar.empty #window {
  background-color: transparent;
}
#cava {
  color: @blue;
}
#bluetooth {
  color: @blue;
}
#network {
  color: @green;
}
#temperature {
  color: @green;
}
#temperature.critical {
  color: @red;
}
